[submodule "rust-book"]
	path = rust-book
	url = https://github.com/rust-lang/book
	shallow = true
[submodule "rust-by-example"]
	path = rust-by-example
	url = https://github.com/rust-lang/rust-by-example
	shallow = true
[submodule "rust-cookbook"]
	path = rust-cookbook
	url = https://github.com/rust-lang-nursery/rust-cookbook
	shallow = true
[submodule "rust-reference"]
	path = rust-reference
	url = https://github.com/rust-lang-nursery/reference
	shallow = true
[submodule "rust-nomicon"]
	path = rust-nomicon
	url = https://github.com/rust-lang-nursery/nomicon
	shallow = true
[submodule "mdBook"]
	path = mdBook
	url = https://github.com/rust-lang-nursery/mdBook
	shallow = true
